# --- Terraform ---
# Diretório local onde o Terraform baixa os plugins/providers
.terraform/

# Arquivos de Estado (MUITO IMPORTANTE: Contêm senhas não criptografadas)
*.tfstate
*.tfstate.*

# Arquivos de Variáveis (MUITO IMPORTANTE: Se usar para passar credenciais)
*.tfvars
*.auto.tfvars

# Arquivos de falha/crash logs
crash.log
crash.*.log

# Arquivos de override (configurações locais temporárias)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI Configuration
.terraformrc
terraform.rc

# --- IDEs / Editores (Opcional mas recomendado) ---
.vscode/
*.swp
*.ps1