name: 'Terraform Infrastructure'

run-name: 'TF: ${{ github.event.inputs.action_type || github.event_name }} por @${{ github.actor }}'

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      action_type:
        description: 'Selecione a ação'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy

env:
  AWS_REGION: 'us-east-1'
  TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    if: github.event_name != 'workflow_dispatch' || github.ref == 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # SOLUÇÃO PARA O ERRO DE CREDENCIAIS:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: true

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        id: plan
        if: github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && github.event.inputs.action_type == 'apply')
        run: terraform plan -no-color -input=false

      - name: Post Plan to PR
        uses: actions/github-script@v7
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `#### Terraform Plan: \`${{ steps.plan.outcome }}\`
            <details><summary>Ver detalhes do plano</summary>
            \`\`\`hcl
            ${{ steps.plan.outputs.stdout }}
            \`\`\`
            </details>`;
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })

      - name: Terraform Apply
        if: |
          (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.action_type == 'apply')
        run: terraform apply -auto-approve -input=false

      - name: Terraform Destroy
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.action_type == 'destroy'
        run: terraform destroy -auto-approve -input=false